<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>

<body>
    <h1>Horário de Transportes Públicos</h1>
    <span>oiiii <i>Campus</i> Quissamã.</span>
    <ul>
        <a href="/barra">
            <li>Objetivos</li>
        </a>
        <a href="/tec">
            <li>Tecnologias</li>
        </a>
    </ul>
</body>

</html>