<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Conectando a cidade</title>
</head>

<body>

        <div class="titulo">
            <h1>Horarios de Transportes Públicos<br>
            </h1>
        </div>
        <div>
            <a href="/formulario">hh</a>
            <br>
            <a href="/index">Horários</a>
            <br>
            <a href="/visgueiro">Praia do Visgueiro</a>
            <br>
            <a href="/JF">Praia de João Francisco</a>
            <br>
            <a href="/barra">Praia de Barra do Furado</a>
        </div>

        <div class="subtitulo">
            <section class="subtitulo">

            </section>

            <section class="txt">

            </section>
        </div>
</body>

</html>